{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="about">
        <img class="about-logo" src="{{ url_for('static', filename='assets/typelogov2_blackonwhite.svg') }}">
        <p>With numbled, we strive to show the world the power of numbers and just how applicable math is to everyday life. Everything we care about can be better understood with the power of mathematics! Another main goal for the site is to teach people more abstract mathematics concepts and how they influence the world around us.</p>
    </div>
</div>
{% endblock %}